.center-column{
    display:flex;
    flex-direction: column;
}

.form-field{
    display: block;
    width: 100%;
    z-index: 1000;
    height: 4vh;
    font-size: 1.3rem;
    font-family: sans-serif;
}

#send-message-button{
    padding: 1vh 1vh;
    background: #cae8e7;
    margin-top: 2vh;
}

#send-message-button:hover{
    background: #86d4d2;
}

#message-id{
    height: 20vh;
}

.main-content::before {
    top: -6%;
}